#root {
  width: 95%;
  overflow-x: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: space-between;
}

#form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

table {
  margin-bottom: 20px;
  width: 90%;
  height: 100%;
}


th {
  white-space: nowrap;
  flex: 1
}

thead {
  background-color: gray;
}

tbody {
  position: relative;
}

tbody button {
  background: none;
  position: absolute;
  bottom: 11px;
  right: -40px;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0;
}

tbody button * {
  width: 100%;
  height: 100%;
}

.add-week-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  background: none;
  width: 150px;
  padding: 0;
  height: 50px;

}

.add-week-button svg {
  width: 30px;
  height: 30px;
}

tbody:nth-child(odd) {
  background-color: rgb(90, 90, 90);
}
tbody:nth-child(even) {
  background-color: rgb(68, 68, 68);
}

tr:first-child {
  height: 20px;
}

tr, td {
  height: 55px;
}

td {
  min-width: 55px;
}

td:last-child,
td:first-child,
th:last-child,
th:first-child {
  width: 80px;
}

.form-section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

form input {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}



.shift-checkbox svg {
  max-width: 70px;
  max-height: 70px;
  height: 100%;
  width: 100%;
}

.shift-checkbox:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.shift-checkbox {
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex: 1;
  display: flex;
  padding: 8px;
}

td {
  padding: 0;
  /* height: 100%; */
}

.table-footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.grand-total p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  padding: 0;
  margin: 0;
}

.weekly-total-box,
.week-number-box {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  white-space: nowrap;
  line-height: normal;
}

.settings-button {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}


.settings-button svg:hover {
  cursor: pointer;
}

.gear-icon {
  width: 40px;
  height: 40px;
}

.x-icon {
  position: absolute;

  stroke: rgb(36, 36, 36);
  stroke-width: 1px;
  bottom: 0px;
  left: 28px;
  transition: all ease-in-out 250ms;
}

#settings-popout {
  transition: all ease-in-out 250ms;
  width: 150px;
  flex: 0;
  position: relative;
}

#settings-popout form {
  position: absolute;
  width: 150px;
  left: 0;
  transition: all ease-in-out 250ms;
}

@media (max-width: 860px){
  #main-container {
    flex-direction: column;
  }
}

@media (min-width: 860px){

}